.custom-gradient {
  background-image: linear-gradient(
    180deg,
    var(--m4u-clr-primary-light) 30%,
    var(--m4u-clr-secondary-light) 50%,
    var(--m4u-clr-white) 0%
  );
}
.custom-gradient-2 {
  background-image: linear-gradient(
    180deg,
    var(--m4u-clr-primary-light) 30%,
    var(--m4u-clr-secondary-light) 70%,
    var(--m4u-clr-white) 0%
  );
}

// University Statistics
.university_statistics {
  .tab-pane {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .studstaff-subsection-parent {
    background-color: #f8f9fd;
    border-radius: 5px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 20px;
    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
    @media (max-width: 600px) {
      grid-template-columns: 1fr;
      gap: 20px;
    }
  }

  .studstaff-subsection-parent > * {
    br {
      display: none;
    }
  }
  .studstaff-subsection {
    border-right: 1px solid #dadada;
  }
  .studstaff-subsection:last-child,
  .studstaff-subsection:nth-child(3n + 3) {
    border-right: 1px solid transparent;
  }

  @media (max-width: 768px) {
    .studstaff-subsection:nth-child(odd) {
      border-right: 1px solid #dadada;
    }
    .studstaff-subsection:nth-child(even) {
      border-right: 1px solid transparent;
    }
  }
  @media (max-width: 600px) {
    .studstaff-subsection:nth-child(odd) {
      border-right: 1px solid transparent;
    }
    .studstaff-subsection:nth-child(even) {
      border-right: 1px solid transparent;
    }
  }

  .studstaff-subsection-title {
    font-weight: 500;
  }
  .color-code-cont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .color-code-parent {
    color: var(--m4u-clr-primary);
    font-weight: 600;
    label {
      color: var(--m4u-clr-text-body);
      font-weight: 400;
    }
  }
  .color-code-parent:not(:last-child) {
    border-right: 1px solid #dadada;
  }
  .studstaff-subsection-stat {
    display: none;
  }
  .studstaff-subsection-count {
    margin-bottom: 5px;
    width: max-content;
    font-size: 22px;
    font-weight: bold;
    background: linear-gradient(
      to right,
      var(--m4u-clr-primary) 0%,
      var(--m4u-clr-secondary) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  // v2
  .pane-content {
    ul {
      background-color: #f8f9fd;
      border-radius: 5px;
      padding: 20px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 30px 20px;
      @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
      }
      @media (max-width: 600px) {
        grid-template-columns: 1fr;
        gap: 5px;
      }
      li:not(:last-child) {
        border-right: 1px solid #dadada;
      }

      @media (max-width: 768px) {
        li:nth-child(even) {
          border-right: 1px solid transparent !important;
        }
      }
      @media (max-width: 600px) {
        .studstaff-subsection:nth-child(odd) {
          border-right: 1px solid transparent;
        }
        li {
          border-right: 1px solid transparent !important;
        }
      }
      .value {
        margin-bottom: 5px;
        width: max-content;
        font-size: 22px;
        font-weight: bold;
        background: linear-gradient(
          to right,
          var(--m4u-clr-primary) 0%,
          var(--m4u-clr-secondary) 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .padding {
        display: flex;
        flex-direction: column;
        height: 100%;
      }
      .reference {
        margin-top: auto;
        margin-left: auto;
        margin-right: 10px;
      }
    }
    .disclaimer {
      font-size: 13px;
      display: flex;
      justify-content: flex-end;
      margin-top: 2px;
    }
  }
}

// tooltip
.tooltip_parent {
  position: relative;
  &:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }
}
.tooltip {
  top: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
  padding: 6px 10px;
  width: max-content;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #3f4254;
  position: absolute;
  background-color: #e5eaee;
  border-radius: 4px;
  transition: all 0.3s;
  visibility: hidden;
  opacity: 0;
  z-index: 1000;
  &:before {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #e5eaee;
  }
  &.top {
    top: unset;
    bottom: calc(100% + 10px);
    &:before {
      top: unset;
      bottom: -10px;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: unset;
      border-top: 15px solid #e5eaee;
    }
  }
}

.text-danger {
  color: red;
}

.image_border::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  margin: -1px;
  border-radius: 50%;
  background: linear-gradient(
    to right,
    var(--m4u-clr-primary),
    var(--m4u-clr-secondary)
  );
}

.scroll {
  &::-webkit-scrollbar {
    width: 4px;
    overflow: visible;
    background: #fefbf0;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: transparent;
  }
  &:hover::-webkit-scrollbar-thumb {
    background: #cacaca;
  }
}

.from_texteditor_wrapper section {
  padding-bottom: 0;
}

.zodit_editor {
  ol,
  ul {
    list-style: disc;
    padding-left: 20px;
  }
  .zodit-react-container {
    .zodit-container:not(.zodit_inline) {
      border: none !important;
    }
    .zodit-wysiwyg {
      background: #f9f9f9;
    }
    .zodit-icon {
      stroke: #808291 !important;
      fill: #808291 !important;
    }
  }
}

.about_us_list li {
  list-style: disc !important;
  padding-left: 12px;
  margin-left: 20px;
}
