// table
.ant-table-cell {
  &::before {
    display: none !important;
  }
}
// table media
.table_media {
  th.ant-table-cell {
    padding: 14px 8px !important;
  }
  .ant-table-cell {
    padding: 8px !important;
  }
}

.ant-popover {
  z-index: 100000 !important;
}

.table_media_grid {
  .ant-table-placeholder {
    grid-column: 1/-1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ant-table-cell-row-hover {
    background: #f0f0f0 !important;
  }
  .ant-table-thead {
    display: none;
  }
  .ant-table-tbody {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }
  .ant-table-row {
    position: relative;
    &:hover {
      .ant-table-selection-column {
        background-color: transparent !important;
      }
    }
  }
  .ant-table-selection-column {
    position: absolute !important;
    z-index: 100;
    top: -7px;
  }
  .ant-table-tbody > tr.ant-table-row-selected > td {
    background: transparent;
    &:hover {
      background: transparent;
    }
  }
  .ant-table-row-selected:hover > td {
    background: transparent !important;
  }
  .ant-table-wrapper .ant-table-tbody > tr > td {
    border-bottom: none !important;
  }
  .table_media .ant-table-cell {
    padding: 0 !important;
  }
  .ant-table-cell {
    display: flex !important;
  }
  .ant-table-row.ant-table-row-selected > .ant-table-cell {
    background: transparent !important;
  }
}

// tree
:where(.css-dev-only-do-not-override-1d8toyw).ant-tree
  .ant-tree-node-content-wrapper,
:where(.css-dev-only-do-not-override-1d8toyw).ant-tree
  .ant-tree-checkbox
  + span {
  padding: 0;
}

// select
// media
.media_search_select .ant-select-selector {
  height: auto !important;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  height: 35px;
}

.ant-checkbox-wrapper + .ant-checkbox-wrapper {
  margin-inline-start: 0px !important;
}

.add_post_tag .ant-select-arrow {
  display: none;
}

.add_post_categories .ant-checkbox-wrapper {
  max-width: max-content;
}

// scrollbar
.add_post_categories ::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.add_post_categories ::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.add_post_categories ::-webkit-scrollbar-thumb {
  background: #888;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
}

/* Handle on hover */
.add_post_categories ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.add_post {
  border-radius: 0px !important;
}

.add_post .ant-collapse-item {
  border-radius: 0px !important;
}

.add_new_page {
  border-radius: 0px !important;
}
.add_new_page .ant-collapse-item {
  border-radius: 0px !important;
}

.ps-submenu-expand-icon {
  padding-right: 4px !important;
  span {
    width: 7px !important;
    height: 7px !important;
    border-right: 1px solid currentcolor !important;
    border-bottom: 1px solid currentcolor !important;
  }
}
